#early-bird-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  border: 1px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
#early-bird-countdown .box {
  width: 45px;
  height: 70px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: white;
  background: #333;
  font-size: 2.2rem;
}
#early-bird-countdown .colon {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #333;
}