/* font Family */
$primary-kr : 'SUIT', sans-serif;
$secondary-kr: 'SpoqaHanSansNeo-Regular';
$primary-en : "Montserrat", sans-serif;
/* Text Color*/
$dark-black:#333; //문서 본문 텍스트 색상
$dim-black:#555;
$silver-black:#777;
$light-black:#999;
$dark-gray:#BDBDBD;
$dim-gray:#ddd;
$silver-gray:#eee; //input에 보더색상
$light-gray:#F5F5F5;
$cloudy-gray:#F9F9F9;
/* Object Color*/
$royalblue:#0B488D;
$maingreen:#15b100;
$orange:#FFD912;
$crimson:#ED2040;
$forestgreen:#0a7536;
$turquoise:#1900d3;
$tomato:#FF3C6D;
$white:#fff;
$black:#171717;
